.happy-client__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 148px;
}

.happy-client__content {
  display: flex;

/* Блок слева */
.portfolio-block {
  display: flex;
  overflow: hidden;
  width: 70%;
  height: 350px;
  margin: 10px 40px;
  padding: 20px;
  border: 2px solid green;

  /* Элементы внутри блока */
  
  & .portfolio {
    margin-right: 500px;

    &.animate {
      animation: portfolioShow 1s forwards;
    }
  }

  & .portfolio-style {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img{
      width: 300px;
      height: 200px;
      margin-right: 40px;
    }

    &__info {
      width: 300px;
    }
  }
}

/* Анимация */
@keyframes portfolioShow {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Блок перелистывания */
.flipping {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;

  &__elipsFlip {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 5px;
    background-color: transparent;
    cursor: pointer;

    &:active {
      background-color: #555;
    }
  }
}

/* Блок правый */
.porfolio-block__img {
  display: flex;

  & .showImg {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
  }
}
}























  // display: flex;

  // & .portfolio-block {
  //     display: flex;
  //     overflow: hidden;
  //     width: 70%;
  //     height: 350px;
  //     margin: 10px 40px;
  //     padding: 20px;
  //     border: 2px solid green;

  //   & .portfolio {
  //       margin-right: 500px;

  //     &-style {
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;

  //       & img {
  //         width: 300px;
  //         height: 200px;
  //         margin-right: 40px;
  //       }

  //       & span {
  //         width: 300px;
  //       }
  //     }

  //   @keyframes portfolioShow {
  //   from {
  //     opacity: 0;
  //     transform: translateX(200px);
  //   }

  //   to {
  //     opacity: 1;
  //     transform: translateY(0);
  //   }
  // }

  //   & .portfolio.animate {
  //     animation: portfolioShow 1s forwards;
  //   }
  // }

  //   &__img {
  //     display: flex;
  //   }
  // }

  

  // .flipping {
  //   width: 100px;
  //   height: 100px;
  //   display: flex;
  //   flex-direction: column;
  // }

  // .elipsFlip {
  //   width: 20px;
  //   height: 20px;
  //   border: 1px solid black;
  //   border-radius: 50%;
  //   margin-top: 5px;
  // }

  // .elipsFlip:active {
  //   background-color: #555;
  // }

  // .showImg {
  //   width: 80px;
  //   height: 80px;
  //   border: 2px solid black;
  //   border-radius: 50%;
  //   margin-right: 10px;
  // }
// }


























  // .portfolio-style {
  //   display: flex;
    // justify-content: center;
    // align-items: center;

  //   &__img {
  //     width: 300px;
  //     height: 200px;
  //     margin-right: 40px;
  //   }

  //   &__header {
  //     font-size: var(--portfolio-headers-size);
  //   }
        
  //   &__info {
  //     width: 300px;
  //     font-size: var(--span-text-size);
    // }
  // }

// .conteiner {
//   display: flex;
// }



