.happy-client__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 148px;
}

.happy-client__content {

  .portfolio-style {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      width: 300px;
      height: 200px;
      margin-right: 40px;
    }

    &__header {
      font-size: var(--portfolio-headers-size);
    }
        
    &__info {
      width: 300px;
      font-size: var(--span-text-size);
    }
  }
}