.header {
	margin-top: 40px;

	nav {
		display: flex; 
		justify-content: space-between;
		align-items: center;
		padding: 0 120px;

		.header-logo {
			&:hover {
				transform: scale(1.1);
				transition: transform 0.1s ease-in-out;
				cursor: pointer;
			}
		}

		& .nav-list {
			display: flex;
				
			& li {
				list-style-type: none;

				&:hover {
					transform: scale(1.1);
					transition: transform 0.2s ease-in-out;
					cursor: pointer;
				}

				&:not(:first-child) {
					padding-left: 60px;
				}
			}
		}
	}
}

.header-content__inner {
	max-height: 608px;
	margin: 40px 0 0 68px;
	padding-left: 52px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;


	& .position-img {     
		position: absolute;
		z-index: -20;
	}

	& #imageOne { 
		top: 0rem;
		left: 64rem;
	}

	& #imageTwo {
		top: 27rem;
		right: 5rem;
	}

	& #imageThree {
		top: 25rem;
		left: 0rem;
	}

	&__text {
		width: 471px;
		display: flex;
		flex-direction: column;
	}

	&__btn {
		width: 214px;
		height: 64px;
		font-size: 20px;
		margin-top: 33px;
		background-color: var(--btn-color);
		color: #FFF;
		border: none;
		border-radius: 40px;
		font-weight: 600;

		&:hover {
			transform: scale(1.1);
			transition: 0.2s ease-in-out;
			cursor: pointer;
		}
	}
} 

.heading-h1-form {
	& p {
		font-size: var(--header-text-size);
		margin-bottom: var(--header-margin);
		font-weight: 700;
	}

	& span {
		font-size: var(--span-text-size);
		opacity: 0.6;
	}
}
