@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");
.header {
  margin-top: 40px;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}
.header nav .nav-list {
  display: flex;
}
.header nav .nav-list li {
  list-style-type: none;
}
.header nav .nav-list li:not(:first-child) {
  padding-left: 60px;
}

.header-content {
  max-height: 608px;
  padding: 40px 0 0 120px;
  margin-bottom: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-content .position-img {
  position: absolute;
  z-index: -20;
}
.header-content #imageOne {
  top: 2.5rem;
  left: 44rem;
}
.header-content #imageTwo {
  top: 29rem;
  left: 76rem;
}
.header-content #imageThree {
  top: 25rem;
  left: 4rem;
}
.header-content__text {
  width: 471px;
  display: flex;
  flex-direction: column;
}
.header-content__btn {
  width: 214px;
  height: 64px;
  font-size: 20px;
  margin-top: 33px;
  background-color: var(--btn-color);
  color: var(--base-color);
  border: none;
  border-radius: 40px;
  font-weight: 600;
}

.heading-form p {
  font-size: var(--header-text-size);
  font-weight: 700;
}
.heading-form span {
  font-size: var(--span-text-size);
  opacity: 0.6;
}

.our-client {
  display: flex;
  align-items: center;
  padding: 0 120px;
}
.our-client__text {
  width: 336px;
}
.our-client__list-logo {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.our-client__list-logo :last-child {
  margin-top: 20px;
}
.our-client__list-logo :not(:first-child) {
  padding-left: 60px;
}

.help-your-business {
  padding-left: 120px;
  display: flex;
  align-items: center;
  margin-top: 94px;
  position: relative;
}
.help-your-business__text {
  width: 396px;
  margin-right: 91px;
}
.help-your-business span {
  width: 396px;
}
.help-your-business .bg-figure {
  position: absolute;
  z-index: -25;
}
.help-your-business .rectangle {
  top: 19rem;
  left: 5rem;
}
.help-your-business .group__ellipse {
  top: 40rem;
  left: 7rem;
}
.help-your-business .ellipse {
  top: 45rem;
  left: 76rem;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 34px;
  position: relative;
}
.service-container .list-left :not(:last-child), .service-container .list-right :not(:last-child) {
  margin-bottom: 30px;
}
.service-container .list-left {
  margin-top: 79px;
}
.service-container__bg {
  position: absolute;
  top: 10rem;
  left: -12rem;
  z-index: -20;
}

.service-form p {
  font-size: var(--box-text-size);
}
.service-form span {
  font-size: var(--span-text-size);
  opacity: 0.6;
}

.service-box {
  width: 308px;
  height: 379px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.service-box__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 121px;
  width: 121px;
  border: none;
  border-radius: 20px;
}
.service-box .imgOne {
  background-color: #F1F7FF;
}
.service-box .imgTwo {
  background-color: #FFF7E3;
}
.service-box .imgThree {
  background-color: #FFF2F8;
}
.service-box .imgFour {
  background-color: #DEFFEE;
}
.service-box .service-form {
  display: inline-block;
  width: 245px;
}
.service-box .service-form p {
  text-wrap: wrap;
  width: 200px;
  margin: 0 auto;
}
.service-box .service-form span {
  text-wrap: wrap;
}

.digital-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  margin-top: 146px;
}
.digital-product__media {
  position: relative;
  border-radius: 40px;
}
.digital-product__media video {
  width: 400px;
  height: 250px;
}
.digital-product__media .media-img {
  height: 372px;
  width: 552px;
  z-index: 20;
}
.digital-product__media .shorts {
  height: 372px;
  width: 552px;
  border-radius: 40px;
}
.digital-product__media .play-button {
  position: absolute;
  top: 8rem;
  left: 14rem;
}
.digital-product__text {
  max-width: 532px;
}

#playButton {
  position: absolute;
  top: 5rem;
  left: 10rem;
}

.happy-client {
  margin-top: 177px;
  display: flex;
}

:root {
  --header-text-size: 40px;
  --span-text-size: 16px;
  --box-text-size: 24px;
  --btn-color: #2639ED;
  --base-color: #FFFFFF;
}

html body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
}

li {
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */